services:
  postgres:
    build:
      context: .
      dockerfile: postgres.Dockerfile
    container_name: course_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: online_course_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: course_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      DATABASE_URL: postgresql://postgres:postgres123@postgres:5432/online_course_db?sslmode=prefer
      JWT_SECRET: super-secret-jwt-key-for-online-course-platform-2024
      JWT_REFRESH_SECRET: super-secret-refresh-key-for-online-course-platform-2024
      FRONTEND_URL: https://frontend-rose-nu-28.vercel.app,https://course-api.ovenx.shop
      MINIO_ENDPOINT: minio.ovenx.shop
      MINIO_PORT: "443"
      MINIO_USE_SSL: "true"
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: admin12345
      MINIO_BUCKET: uploads
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
